.container{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(8,1fr);
    grid-template-areas:
    "   header  header  header  header  header  header  header  header"
    "   .       stView  stView  stView  stView  stAdd   stAdd   .   "
    "   .       stView  stView  stView  stView  stAdd   stAdd   .   "
    "   .       stView  stView  stView  stView  stSch   stSch   .   "
    "   .       stView  stView  stView  stView  stSch   stSch   .   "
    "   footer  footer  footer  footer  footer  footer  footer  footer"
    ;
}

.header{
    grid-area: header;
    border-style: dotted;
}
.footer{
    grid-area: footer;
    border-style: dotted;
}
.student-view{
    grid-area: stView;
    border-style: dotted;
}
.student-add{
    grid-area: stAdd;
    border-style: dotted;
}
.student-search{
    grid-area: stSch;
    border-style: dotted;
}
